.chat-input-container {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  box-sizing: border-box;
}

.chat-input-box {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
  padding-top: 53%;
}

.input-wrapper-box {
  flex: 4;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  z-index: 20;
}

.input-wrapper {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  z-index: 20;
  padding-left: 6%;
  padding-right: 1%;
}

.send-button-box {
  flex: 1;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  z-index: 20;
}

.send-button {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-left: 5%;
  padding-right: 22%;
}

.chat-input-background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
}