.chat-messages-container {
  overflow: scroll;
  scrollbar-width: none;
  height: 100%;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 8%;
  margin-bottom: 12%;
  box-sizing: border-box;
  z-index: 20;
}